*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    position: relative;
	font-family: 'Noto Sans KR', sans-serif;
}

::selection {
    background: #1b1b1b;
    color: #FFFFFF;
}

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: black;
    z-index: 9;
}

.links-container {
    display: flex;
    list-style: none;
}

.link {
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.header {
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage1 {
    background-color: black;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 200px;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.stage1-content {
    width: 70%;
    align-self: center;
}
.stage1-heading {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
}

.stage1-date {
    font-size: 1.2rem;
    color: #D8D8D8;
    text-align: right;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
    border: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2em;
}

p.sub-paragraph {
    color: gray;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

span.bold {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: black;
}

span.blue {
    color: blue;
}

span.red {
    color: red;
}


#comments {
    color: white;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 200px;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.comment_heading {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 100px;
}

.comment_container {
    margin-top: 20px;
    position: relative;
    background-color: #1b1b1b;
}


.comment_card {
    padding: 20px;
    width: 70vw;
    margin-bottom: 20px;
}

.comment_card h3 {
    margin-bottom: 1rem;
}

.comment_card hr {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
    border: 0;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.comment_title {
    font-size: 20px;
}